@import "animace.css";
@import "simple-lightbox.css";
:root {
  --blue-clr: #1053A4;
  --filter-blue-clr: invert(26%) sepia(24%) saturate(4063%) hue-rotate(192deg) brightness(96%) contrast(100%);
  --yellow-clr: #FEDE0A;
  --filter-yellow-clr: invert(81%) sepia(70%) saturate(1199%) hue-rotate(351deg) brightness(104%) contrast(99%);
  --filter-white-clr: invert(91%) sepia(0%) saturate(7500%) hue-rotate(31deg) brightness(115%) contrast(109%);
  --ggs: 1.5;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 400;
  scroll-behavior: smooth;
  scroll-margin-top: 5em;
}

/*=====Defaults=====*/
html,
body {
  max-width: 100vw;
  overflow-x: hidden !important;
}

footer {
  padding: 1em 0;
  background-color: black;
  color: #f2f5f7;
  text-align: center;
}
footer a {
  color: var(--yellow-clr);
}

h1 {
  font-size: min(8rem, 13vw);
  font-weight: 500;
}

h2 {
  font-size: min(4rem, 10vw);
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.6rem;
  font-weight: 400;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
}

/*=====SECTIONS=====*/
section {
  padding: 3em 0 3em 0;
}
section:nth-of-type(odd) {
  background-color: rgb(23, 23, 23);
  color: #f2f5f7;
}
section:nth-of-type(even) {
  background-color: #f2f5f7;
  color: black;
}

/*======Utility======*/
.active {
  color: var(--brown-clr);
}

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}
.title .title-wrapper {
  padding-bottom: 1rem;
}
.title .underline {
  width: 60%;
  background-color: var(--blue-clr);
  border-radius: 10px;
  height: 5px;
}
.title .title-text {
  max-width: 55%;
}

a:link, a:visited {
  text-decoration: none;
}
a:hover {
  color: var(--brown-clr);
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.content-center {
  justify-content: center;
  align-items: center;
}

.content-center-start {
  justify-content: flex-start;
  align-items: center;
}

.content-center-end {
  justify-content: flex-end;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.container {
  width: min(1200px, 90vw);
  margin: auto;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap3 {
  gap: 3rem;
}

.gap4 {
  gap: 4rem;
}

.space-between {
  justify-content: space-between;
}

dialog {
  padding: 1rem;
  border: 3px solid var(--blue-clr);
  position: fixed;
  width: min(700px, 90vw);
  max-height: 60vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}
dialog .dialog-wrapper {
  position: relative;
}
dialog .dialog-close {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 2rem;
}
dialog ul {
  list-style-type: disc;
  padding-left: 14px;
}
dialog button {
  float: inline-end;
}
dialog h3 {
  margin-bottom: 0.2rem;
  font-size: min(2rem, 20vw);
}
dialog .modal-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 20px;
}
dialog button {
  cursor: pointer;
  border: 2px solid #131418;
  border-radius: none;
  background-color: var(--blue-clr);
  color: #f2f5f7;
  padding: 0.5rem;
}

.modal::-webkit-backdrop {
  background-color: rgba(19, 20, 24, 0.5);
}

.modal::backdrop {
  background-color: rgba(19, 20, 24, 0.5);
}

.modal-open {
  cursor: pointer;
}

/*=====NAVIGATIONS=====*/
nav {
  height: 60px;
  width: 100vw;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 10;
  color: #f2f5f7;
}
nav .logo {
  text-align: center;
  height: 40%;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: none;
}
.nav-links li {
  position: relative;
}
.nav-links li a {
  text-decoration: none;
  padding: 0 0.7vw;
  color: #f2f5f7;
  font-size: 1.2rem;
  font-weight: 600;
}
.nav-links li a:hover {
  color: var(--brown-clr);
  transition: all ease-in-out 250ms;
}
.nav-links li a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: var(--blue-clr);
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::after {
  width: 80%;
}

/*Styling Hamburger Icon*/
.hamburger {
  display: none;
}
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger .line1,
.hamburger .line3 {
  background: var(--yellow-clr);
}
.hamburger .line2 {
  background: var(--blue-clr);
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*======Hero======*/
#hero {
  padding: 3rem 0 0 0;
  height: 100vh;
  width: 100vw;
  background-image: url(../imgs/back1.png);
  background-color: rgba(0, 0, 0, 0.6);
  background-position: top;
  background-size: cover;
  background-blend-mode: darken;
  text-align: center;
  /* ====================
    Intro Section
  =======================*/
}
#hero .hero-logo img {
  height: 40%;
  width: 40%;
}
#hero .intro-section .intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}
#hero .intro-section .intro-content .tagline .change-container {
  position: relative;
  display: inline-block;
  width: 100vw;
}
#hero .intro-section .intro-content .changing {
  position: absolute;
  overflow: hidden;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 0;
  opacity: 0;
  text-transform: none;
  word-spacing: 5px;
  text-align: center;
  font-size: min(3rem, 7vw);
}
#hero .changing:nth-child(1) {
  -webkit-animation: revealNextWord 7s cubic-bezier(0.57, 1.52, 0.9, 1.08) 1.5s infinite;
          animation: revealNextWord 7s cubic-bezier(0.57, 1.52, 0.9, 1.08) 1.5s infinite;
}
#hero .changing:nth-child(2) {
  -webkit-animation: revealNextWord 7s cubic-bezier(0.57, 1.52, 0.9, 1.08) 3.5s infinite;
          animation: revealNextWord 7s cubic-bezier(0.57, 1.52, 0.9, 1.08) 3.5s infinite;
}
#hero .changing:nth-child(3) {
  -webkit-animation: revealNextWord 7s cubic-bezier(0.57, 1.52, 0.9, 1.08) 5.5s infinite;
          animation: revealNextWord 7s cubic-bezier(0.57, 1.52, 0.9, 1.08) 5.5s infinite;
}
@-webkit-keyframes revealNextWord {
  0% {
    opacity: 0.3;
    height: 0;
  }
  10% {
    opacity: 1;
    height: 1.2em;
  }
  20% {
    opacity: 1;
    height: 1.2em;
  }
  28% {
    opacity: 0;
    height: 2em;
  }
}
@keyframes revealNextWord {
  0% {
    opacity: 0.3;
    height: 0;
  }
  10% {
    opacity: 1;
    height: 1.2em;
  }
  20% {
    opacity: 1;
    height: 1.2em;
  }
  28% {
    opacity: 0;
    height: 2em;
  }
}

/*======ABOUT======*/
.about-grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}
.about-grid .perk {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}
.about-grid .perk-icon {
  display: flex;
  padding: 1.2rem 0.6rem;
  color: var(--blue-clr);
}
.about-grid .perk h4 {
  padding-bottom: 0.5rem;
}
.about-grid .perk p {
  font-size: 1.2rem;
}

/*======PRICE LIST and SERVICES======*/
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.services .service {
  justify-content: start;
  align-items: flex-start;
  text-align: start;
  gap: 2rem;
  padding: 1rem 2rem;
  background-color: var(--blue-clr);
  border-radius: 1.2rem;
}
.services .service h4 {
  font-weight: 500;
  padding-bottom: 5px;
}
.services .service-icon {
  height: 100%;
  width: 45px;
}
.services .service-icon img {
  filter: var(--filter-white-clr);
}
.services .service-details {
  width: 100%;
}
.services .service-time {
  opacity: 70%;
}
.services .service-informations {
  text-align: center;
}

/*=====Vehicles===*/
.vehicles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.vehicles h3 {
  margin-bottom: 5px;
}
.vehicles .vehicle {
  margin-bottom: 1rem;
}
.vehicles .vehicle-images {
  gap: 1rem;
}
.vehicles .vehicle-image img {
  max-width: min(270px, 20vw);
  border: 3px solid #131418;
  border-radius: 1rem;
  box-shadow: 0px -1px 11px 2px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px -1px 11px 2px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px -1px 11px 2px rgba(0, 0, 0, 0.21);
}

/*====Contacts====*/
.contacts-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.contacts-wrapper .contact {
  padding: 0.8rem;
  gap: 1rem;
  width: 100%;
  border-radius: 10PX;
  box-shadow: 0px -1px 11px 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px -1px 11px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px -1px 11px 2px rgba(0, 0, 0, 0.8);
}
.contacts-wrapper i {
  --ggs: 0.6 ;
}
.contacts-wrapper .contact-details span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}
.contacts-wrapper .contact-details a {
  color: inherit;
  text-decoration: inherit;
}
.contacts-wrapper .contact-image {
  width: 70px;
  height: 70px;
  padding: 1rem;
  border-radius: 50%;
}
.contacts-wrapper .freml {
  background-image: url(../imgs/Freml.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts-wrapper .autoskola {
  background-image: url(../imgs/logos/SmallLogoNavbar.png);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}
.contacts-wrapper .contact-image img {
  height: 100%;
}

/*====Stying for small screens====*/
@media screen and (max-width: 1100px) {
  html,
body {
    max-width: 100vw;
    overflow-x: hidden !important;
  }
  .title .title-text {
    max-width: 80%;
  }
  .services {
    display: flex;
    flex-wrap: wrap;
    /*  allow items to wrap  */
    justify-content: center;
  }
  .services .service {
    flex-basis: calc(40% - 20px);
  }
}
@media screen and (max-height: 900px) {
  dialog {
    max-height: 80vh;
  }
}
@media screen and (max-width: 800px) {
  /*Styling Navigation*/
  nav {
    position: fixed;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
@media screen and (max-width: 700px) {
  .about-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 600px) {
  dialog .modal-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
  dialog .dialog-close {
    position: relative;
    float: right;
  }
  .vehicles {
    grid-template-columns: repeat(1, 1fr);
  }
  .vehicles .vehicle-image img {
    max-width: min(270px, 40vw);
  }
}
@media screen and (max-width: 500px) {
  .about-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=main.css.map */