*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    max-width: 100vw;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    scroll-margin-top: 5em;
}

/*==========*/
/*For ALL*/
/*==========*/
main {
    padding: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.411);
    background-image: url(../imgs/back1.png);
    background-position: bottom;
    background-size: cover;
    background-blend-mode: darken;
    text-align: center;
}

section {
    height: 100vh;
}

section:nth-of-type(odd) {
    background-color: black;
    color: #f2f5f7;
}

section:nth-of-type(even) {
    background-color: #f2f5f7;
    color: black;
}

header {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 100vh;
}
h1 {
    font-size: min(6rem, 15vw);
}

h2 {
    font-size: 3rem
}

h3 {
    font-size: 2rem;
}
h4{
    font-size: 1.6rem;
}

p {
    font-size: 1.6rem;
    font-weight: 100;
}
/*==========*/
/*UTILITY*/
/*==========*/
.d-flex{
    display: flex;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
}
.content-center{
    justify-content: center;
    align-items: center;
}
