*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;;
}


.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

button > * {
  pointer-events: none;
}
.container {
  margin: 0 auto;
  max-width: 120rem;
}

/*==========*/
/*NAVBAR*/
/*==========*/

.navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar__logo {
  font-size: 3rem;
  padding: 0 2rem;
}
.navbar__links {
  position: absolute;
  top: 0;
  transition: all 0.3s ease-in-out;
  list-style: none;
  width: 100%;
  opacity: 0;
}
.navbar__links.active {
  transform: translatey(7.5rem);
  opacity: 1;
}
.navbar__links li a {
  transition: background 0.3s ease-in-out;
  height: 100%;
  color: #666666;
  display: block;
  background-color: #ffffff;
  font-size: 2.2rem;
  width: 100%;
  text-decoration: none;
  padding: 2rem;
  border-top: 1px solid #eeeeee;
}
.navbar__links li a:hover {
  background-color: lightgray;
}

.hamburger {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 2rem;
  border: none;
  cursor: pointer;
}
.hamburger__line {
  background-color: #708090;
  height: 0.5rem;
  width: 3.5rem;
  margin: 0.5rem;
  transition: 0.3s ease-in-out;
  border-radius: 2px;
}
.hamburger.active:hover .hamburger__line:nth-child(1), .hamburger.active .hamburger__line:nth-child(1) {
  transform: translatey(1rem) rotate(45deg);
  background-color: salmon;
}
.hamburger.active:hover .hamburger__line:nth-child(2), .hamburger.active .hamburger__line:nth-child(2) {
  background: rgba(0, 0, 0, 0);
}
.hamburger.active:hover .hamburger__line:nth-child(3), .hamburger.active .hamburger__line:nth-child(3) {
  transform: translatey(-1rem) rotate(-45deg);
  background-color: salmon;
}




@media only screen and (min-width: 768px) {
  /* For desktop: */
  .navbar {
    padding: 0 4rem;
  }
  .navbar__links {
    transition: all 0.3s ease-in;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    opacity: 1;
  }
  .navbar__links li a {
    text-align: center;
  }
  .navbar__links li a:hover {
    background-color: lightgray;
  }
  .navbar__links.active {
    transition: none;
    display: none;
  }

  .hamburger {
    display: none;
  }
}
@media (hover: hover) and (pointer: fine) {
  .hamburger:hover .hamburger__line {
    background-color: #8d9aa6;
  }
  .hamburger:hover .hamburger__line:nth-child(1) {
    transform: translatex(-1rem);
    background-color: salmon;
  }
  .hamburger:hover .hamburger__line:nth-child(3) {
    transform: translatex(-1rem);
    background-color: salmon;
  }
}